<!DOCTYPE html>
<html>
  <head>
    <% include ../head %>
  </head>
  <body>
    <% include ../navigation %>
    <div id="wrapper">
      <h1>Job Scraper</h1>
        <b>Here</b>
    </div>
  </body>
</html>
