<!DOCTYPE html>
<html>
  <head>
    <% include ../head %>
  </head>
  <body>
    <% include ../navigation %>
    <div id="wrapper">
      <h1><%= job.company.name %></h1>
      <h2><%= job.position.title %></h2>
      <%= JSON.stringify(job) %>
      <a href="/posts/saveFromPost">Save this post</a>
    </div>
  </body>
</html>
