<!DOCTYPE html>
<html>
  <head>
    <% include ../head %>
  </head>
  <body>
    <% include ../navigation %>
    <div id="wrapper">
      <h1>Will make this more readable in time</h1>
      <%= JSON.stringify(job) %>
      <a href="/posts/saveFromPost">Save this post</a>
    </div>
  </body>
</html>
