<nav id='custNav'>
  <ul id='navList'>
    <li><a class="brand" href="/">Job Scraper</a></li>
    <li><a href="/posts">Saved Posts</a></li>
    <li><a href="https://github.com/varunm/JobScraper">Source</a></li>
  </ul>
</nav>
