<!DOCTYPE html>
<html>
	<head>
		<title>Search Results</title>
	</head>
	<body>
		<h1>Search Results for <%= title %> </h1>
		<p>We are currently awaiting access to the Job Search API, this API search results in the following error:</p>
		<% if(results) { %>
			<%= JSON.stringify(results) %>
		<% } %>
	</body>
</html>
