<!DOCTYPE html>
<html>
	<head>
		<!-- Override the default title -->
		<title>Search Results</title>
		<% include head %>
	</head>
	<body>
		<% include navigation %>
		<div id="wrapper">
			<h1>Search Results for <%= title %> </h1>
			<p>We are currently awaiting access to the Job Search API, this API search results in the following error:</p>
			<% if(results) { %>
				<%= JSON.stringify(results) %>
			<% } %>
		</div>
	</body>
</html>
